<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--Depart et destination-->
<div class = "container">
<form [formGroup]="devisForm">
  <section>
    <div class="section-label">Depart</div>
    <div class="example-button-row">
      <mat-form-field appearance="fill" >
        <mat-label>Ville</mat-label>
        <mat-select formControlName="depart" >
          <mat-option value="{{departureCities[0]}}">Alger</mat-option>
        </mat-select>
      </mat-form-field>      
    </div>  
  </section>
  <br>

  <section>
    <div class="section-label">Destination</div>
    <div class="example-button-row">
      <mat-form-field appearance="fill" >
        <mat-label>Ville</mat-label>
        <mat-select formControlName="destinations" (selectionChange)="coutCourrierCalc()">        
          <mat-option value="{{destinationCities[0]}}">Montreal</mat-option>
          <mat-option value="{{destinationCities[1]}}">Tataouine</mat-option>
          <mat-option value="{{destinationCities[2]}}">Tokyo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>  
  </section>
  <br>
  <hr>

  <!-- dates aller retour-->
  <br>
  <mat-slide-toggle [checked]="allerSimple"
    (change)="toggleAllerSimple()">
    Aller simple?
  </mat-slide-toggle>
  <br>
  <br>

  <section>
    <div class="section-label">Aller</div>
    <div class="example-button-row">
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="aller">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </section>
  <br>
  

  <section>
    <div class="section-label">Retour</div>
    <div class="example-button-row">
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker1" [min]="minDate" formControlName="retour">
        <mat-datepicker-toggle matSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
  </section>
  <br>

  <hr>

  <!--mini fab button-->
  <section>
    <div class="section-label">Number of tickets</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        
        <div class="example-button-container">
          <button mat-mini-fab color="accent" aria-label="increment number of ppl" (click)="increment()">
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>

        <input type="number" formControlName="personnes">

        <div class="example-button-container">
          <button mat-mini-fab color="accent" aria-label="decrement number of ppl" (click)="decrement()">
            <mat-icon>exposure_neg_1</mat-icon>
          </button>
        </div>
        
      </div>
    </div>
  </section>
  <hr>

  <!--Devis-->
  <br>
  <section>
    <button mat-raised-button color="accent" (click)="calculDevis()">Demande de devis</button>
        <br>
        <br>
        <span>Estimation du cout de votre voyage : {{ devis | currency:'USD':'symbol-narrow':'1.2-2'}}</span>
        <br>
        <hr>
        <br>
        <span>check : {{testing}} ettt {{marche}}</span>
        <br>
  </section>
  
  <hr>
</form>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>